a {
    color: #3366b8;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

p {
    margin-bottom: 1em;
}

code {
    padding: .125rem .25rem;
    font-size: 0.875rem;
    background-color: #f0f0f0;
    border-radius: 0.2rem;
}

pre {
    margin-bottom: 0;
    word-break: normal;
    margin: .5rem;
    padding: 0;
    overflow: auto;
    font-size: 0.875rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;

    code {
        padding: 0;
        margin: 0;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }
}

ul,
ol {
    margin-top: 0;
}

blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #6e7882;
    border-left: 0.3rem solid #dce1e6;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

table {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch;

    th {
        font-weight: bold;
    }

    th,
    td {
        padding: 0.5rem 1rem;
        border: 1px solid #dce1e6;
    }
}

dl {
    padding: 0;

    dt {
        padding: 0;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }

    dd {
        padding: 0;
        margin-bottom: 1rem;
    }
}

hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #dce1e6;
    border: 0;
}